
body {
    /*background-color: aquamarine;
    /background-image: url('ClemWithGlasses.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}
#myHeader {
    color:blue;
    border: 2px solid violet;
    padding: 20px;
    margin: 50px;
    text-align: center;
}
p {
    color: red;
    font-family: courier;
    font-size: 75%;
}
ul {
    list-style-type: circle;
}

.pages-buttons {
    width: 100%;
}

div.pages {
    display: flex;
    text-align: center;
}
div.pages div {
    width: 33%;
}

.outer {
    height: 400px;
    display:flex;
    margin-top: 50px;
}

.projectSelectionSD {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectSelectionGD {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectSelectionButton {
    width: auto;
    text-wrap: nowrap;
    font-size: 250%;
    background-color: transparent;
    border: none;
}

.projectSelectionButton:hover {
    color: aqua;
}

#projectHighlight {
    border: 4px solid green;
    margin-left: 300px;
    margin-right: 300px;
    width: 100%;
}