
body {
    background-color: aquamarine;
    /*background-image: url('ClemWithGlasses.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}
#myHeader {
    color:blue;
    border: 2px solid violet;
    padding: 20px;
    margin: 50px;
    text-align: center;
}
p {
    color: red;
    font-family: courier;
    font-size: 75%;
}
ul {
    list-style-type: circle;
}

.pages-buttons {
    width: 100%;
}

div.pages {
    display: flex;
    text-align: center;
}
div.pages div {
    width: 33%;
}

.flex-container {
    background-color: aqua;
    width: 100px;
    display: flex;
    text-indent: 10px;
    flex-direction: column;
}