body {
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 2.5em;
    margin: 0;
    color:green;
    height: 10vh;
    text-align: center;
    font-size: 2vw;

    background-color: #40403e;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

p {
    color:lightslategray;
    font-family: courier;
    font-size: 85%;
}

ul {
    list-style-type: circle;
}

.pagesButton {
    width: 100%;
    background-color: #40403e;
    color:green;
    border: 2px solid black;
    height: 4vh;
    font-size: 1em;
}

.pagesButton:hover {
    color:darkgreen;
}

div.pages {
    display: flex;
    text-align: center;
}

div.pages div {
    width: 33.33%;
}

#projects {
    display: flex;
    margin-top: 40px;
}

#projectSelectionHeader {
    font-family: serif;
    text-align: center;
}

#projSelectHeader {
    border: 4px solid green;
    border-right: 0;
    margin-bottom: 30px;
}

#projSelectHeader div {
    margin-top: -0.5em;
}

.projectSelection {
    max-height: 70vh;
    width: 25vw;
    flex-direction: column;
    overflow-y: scroll;
}

.projectSelection::-webkit-scrollbar {
    display: none;
}

.projectSelectionButton {
    text-wrap: nowrap;
    font-size: 2vw;
    background-color: transparent;
    border: none;
    padding-bottom: 40px;
}

.projectSelectionButton:hover {
    color: aqua;
}

#aboutMe {
    border: 4px solid blue;
    margin-top: 50px;
    padding-left: 5px;
    display: flex;
}

#leftAboutMe {
    width: 50vw;
}

#rightAboutMe {
    width: 50vw;
}

.linkImage {
    width: 32px;
}

#spotify {
    width:fit-content;
    max-width: 100%;
}

#spotifyInfo {
    position: relative;
    display: flex;
    border: 4px solid black;
    height: 64px;
    background-color: black;
}

.songInfo {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 80%;
    font-family: sans-serif;
    line-height: 0.75em;
}

div.songInfoDiv {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.5em;
}

#songImage {
    border-right: 4px solid black;
}

#songTitle {
    color:white;
}

#songArtist {
    color:grey;
}

#currentlyPlaying {
    width: 16px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#projectHighlight {
    border: 4px solid green;
    width: 75vw;
    min-height: 55vh;
    height: fit-content;
    margin-right: 10vw;
}

#projHeader {
    display: flex;
    border-bottom: 4px solid green;
    text-wrap: nowrap;
    overflow: hidden;
}

#projHeader div {
    width: 50%;
    margin-top: -0.5em;
}

#projTitle {
    text-align:left;
    padding-left: 0.5em;
}

#projDate {
    text-align: right;
    padding-right: 0.5em;
}

h3 {
    padding-left: 0.5em;
    text-decoration: underline;
}

.projInfoText {
    padding-left: 1em;
    padding-right: 1em;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}